<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CommunityManangementSystem"
        tools:targetApi="31">
        <activity
            android:name=".ui.content.settings.PasswordSettingsView"
            android:exported="false" />
        <activity
            android:name=".ui.content.settings.QrCodeView"
            android:exported="false" />
        <activity
            android:name=".ui.content.settings.DeleteAccountView"
            android:exported="false" />
        <activity
            android:name=".ui.content.settings.PasswordSettings"
            android:exported="false" />
        <activity
            android:name=".ui.content.settings.NotificationSettingsView"
            android:exported="false" />
        <activity
            android:name=".ui.content.settings.SettingsView"
            android:exported="false" />
        <activity
            android:name=".ui.content.accountInformation.VerifyContent"
            android:exported="false" />
        <activity
            android:name=".ui.content.history.HistoryView"
            android:exported="false" />
        <activity
            android:name=".ui.content.news.ui.NewsCommentView"
            android:exported="false" />
        <activity
            android:name=".ui.content.medicine.ui.MedicineContent"
            android:exported="false" />
        <activity
            android:name=".ui.content.sports.SportsContent"
            android:exported="false" />
        <activity
            android:name=".ui.content.sports.RequestSports"
            android:exported="false" />
        <activity
            android:name=".ui.content.news.ui.NewsViewContent"
            android:exported="false" />
        <activity
            android:name=".ui.LoginView"
            android:exported="false" />
        <activity
            android:name=".ui.content.family.ui.FamilyMemberView"
            android:exported="false" />
        <activity
            android:name=".ui.content.official.ui.OfficialView"
            android:exported="false" />
        <activity
            android:name=".ui.content.emergency.ui.EmergencyView"
            android:exported="false" />
        <activity
            android:name=".ui.content.emergency.ui.EmergencyContent"
            android:exported="false" />
        <activity
            android:name=".ui.content.services.RequestBarangayClearance"
            android:exported="false" />
        <activity
            android:name=".ui.content.reservation.ReservationContent"
            android:exported="false" />
        <activity
            android:name=".ui.ReservationView"
            android:exported="false" />
        <activity
            android:name=".ui.content.reservation.ReservationRequest"
            android:exported="false" />
        <activity
            android:name=".ui.ProfileView"
            android:exported="false" />
        <activity
            android:name=".ui.RequestView"
            android:exported="false" />
        <activity
            android:name=".ui.ServiceView"
            android:exported="false" />
        <activity
            android:name=".ui.content.official.ui.OfficialContentView"
            android:exported="false" />
        <activity
            android:name=".ui.content.message.MessageContent"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.dashboard.DashboardView"
            android:exported="false" />
        <activity
            android:name=".ui.content.medicine.ui.MedicineView"
            android:exported="false" />
        <activity
            android:name=".ui.content.news.ui.NewsView"
            android:exported="false" />
        <activity
            android:name=".ui.content.message.MessageView"
            android:exported="false" />
        <activity
            android:name=".ui.WelcomeView"
            android:exported="false" />
        <activity
            android:name=".ui.content.accountInformation.VerifyAccountView"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>